fastapi>=0.119.1,<1.0
uvicorn[standard]>=0.35,<1.0
sqlalchemy>=2.0.44,<3.0
pydantic>=2.12.3,<3.0
pymysql[rsa]>=1.1,<2.0
pydantic-settings>=2.10,<3.0
python-dotenv>=1.1,<2.0
pytest>=8.4.2,<9.0
httpx>=0.28,<1.0
